@media screen and (max-width : 1386px) {
    #contenerdor{
        width: 100%;
    }
    .cuadrado{
        width: 1386px;
        height: 100px; 
        background-color: aqua;
        border: 5;
    }
    .inicio{
    color: aqua;
    }
    .Titulos{
        font-size: 50px;
        color: white;
        text-align: center;
    }
}
    
    

}

@media  screen and (max-width: 480px) {
    #sidebar{
        display: none;
    }
    #menu{
        text-align: center;
    }
    .cuadrado{
        width: 500px;
        height: 50px; 
        background-color: aqua;
        border: 5;
    }
    .inicio{
    color: aqua;
    }
    .Titulos{
        font-size: 25px;
        color: white;
        text-align: center;
    }
}


