@media screen and (max-width: 1500px){
    .cuadrado{
        width: 100%;
        height: 100px; 
        background-color: aqua;
        border: 5;
        border-radius: 20px;
    }
    .Titulos{
        font-size: 50px;
        color: white;
        text-align: center;
    }
    .conf{
        width: 100px;
        height: 100px;
    }
    .tabla{
        border: 100px;
        width: 100%;
        border-color: black;
        text-align: center;
    }
    .pie{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}


@media  screen and (max-width: 500px) {
    #contenerdor{
        width: 100%;
    }
    .cuadrado{
        width: 100%;
        height: 25px; 
        background-color: #EC8AA5;
        border-radius: 25px;
    }
    .Titulos{
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .conf{
        width: 15px;
        height: 15px;
    }
    .tabla{
        border: 10px;
        width: 100%;
        border-radius: 20px;
        background-color: #EC8AA5;
    }
    .pie{
        width: 100%;
        position: relative;
    }
    .logo{
	   width: 50px;
	   heigth: 50px;
    }
    .fondo{
        background-image: url(fondo1.jpeg);
    }
    .modelo{
        width: 200px;
        heigth: 500px;
    }
    .centro{
        text-align: center;
        width: 100%;
    }
    .mmn{
        text-align: right;
        vertical-align: bottom;
    }

}


